/Output/
/Tools/
/packages/
/input/Content/*
/input/Scripts/*
/config.wyam.WyamConfig.cs
/config.wyam.WyamSetup.cs
/.vs/*.slnx*
/.vs/nota/
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/slnx.sqlite-journal

packages.xml
wyam.log