@using Wyam.Modules.Git 

<div class="well pull-right" >
    @{
        var mailString = ((IEnumerable<CommitInformation>)Metadata["CommitInformation"]).FirstOrDefault()?.Author?.Email ??"";
        var md5 = new System.Security.Cryptography.MD5CryptoServiceProvider();
        var byteMail = System.Text.Encoding.Default.GetBytes (mailString);
        var result = md5.ComputeHash(byteMail); 

        var mailHash = System.BitConverter.ToString(result).Replace("-","").ToLower(); 
    }
    <img class="img-thumbnail" src="http://www.gravatar.com/avatar/@mailHash" /> 
    
</div>

<div>
    
    <ul>
        
    @foreach(var commit in ((IEnumerable<CommitInformation>)Metadata["CommitInformation"]).Select(c => c.Path).Distinct().OrderBy(x=>x))
    {
    
        var url = Metadata["Contributor"]+"/"+@commit + ".html";
    
        <li><a href="@url" >@commit</a></li>            
    
            
    }  
    </ul>        
</div>