@using Wyam.Modules.Git 

<div class="well pull-right" >
    @{
        var mailString = (string)((IEnumerable<IDocument>)Metadata["Commits"]).Select(x=>x["AuthorEmail"]).FirstOrDefault() ??"";
        var md5 = new System.Security.Cryptography.MD5CryptoServiceProvider();
        var byteMail = System.Text.Encoding.Default.GetBytes(mailString);
        var result = md5.ComputeHash(byteMail); 

        var mailHash = System.BitConverter.ToString(result).Replace("-","").ToLower(); 
    }
    <img class="img-thumbnail" src="http://www.gravatar.com/avatar/@mailHash" /> 
    
</div>

<div>
    
    <ul>
        
    @foreach(var commit in ((IEnumerable<IDocument>)Metadata["Commits"]).SelectMany(c => (c["Entries"] as IReadOnlyDictionary<Wyam.Common.IO.FilePath, string>).Keys).Distinct().OrderBy(x=>x.ToString()))
    {
    
        var url = ((string)Metadata["ContributorEmail"])+"/"+@commit.FullPath + ".html";
    
        <li><a href="@url" >@commit.FullPath</a></li>            
    
            
    }  
    </ul>        
</div>