@font-face {
    font-family: 'InitialsFont';
    /*a name to be used later*/
    src: url('/fonts/RomantiqueInitials.ttf');
    /*URL to fonts*/
}

/* Custom classes
-------------------------------------------------- */

.Bsp:before {
    content: "Beispiel";
    font-weight: bold;
}

.Bsp {
    padding: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 10;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-width: 1;
    border-left-width: 1em;
    border-color: #e0e0e0;
    border-style: solid;
    background-color: #f8f8f8;
    break-inside: avoid;
}

.Action {
    padding: 1em;
    margin-top: 1em;
    border-radius: 10;
    border-width: 1;
    border-color: #e0e0e0;
    border-style: solid;
    background-color: #f8f8f8;
    break-inside: avoid;
}

.Action h2 {
    font-size: 24px;
}

.Action h3 {
    font-size: 16px;
    padding-bottom: 9px;
    border-bottom: solid 1px #ddd;
}

/* Gaben
-------------------------------------------------- */

.Gabe {
    padding: 1em;
    margin-top: 1em;
    border-radius: 10;
    border-width: 1;
    border-color: #e0e0e0;
    border-style: solid;
    background-color: #f8f8f8;
    break-inside: avoid;
}

.Gabe .Titel {
    font-size: 24px;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */

#push,
#footer {
    height: 60px;
}

#footer {
    background-color: #f5f5f5;
    z-index: 900;
    position: relative;
}

/* Lastly, apply responsive CSS fixes as necessary */

/* @media (max-width: 767px) {
#footer {
margin-left: -20px;
margin-right: -20px;
padding-left: 20px; 
padding-right: 20px; 
}
} */

/* Custom page CSS
-------------------------------------------------- */

/* Not required for template or sticky footer method. */

#wrap>.container {
    padding-top: 60px;
    min-height: calc(-60px + 100%);
    display: flex;
    flex-direction: column;
}

.twoColumn {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 25em;
    -moz-column-width: 25em;
    column-width: 25em;
    column-fill: auto;
    flex: auto;
    column-gap: 3em;
    column-rule: lightgray solid 1px;
}

.twoColumn>.content>.span {
    column-span: all;
    -webkit-column-span: all;
    -moz-column-span: all;
}

.twoColumn h1 {
    border-bottom: 1px solid #eee;
    padding-bottom: 9px;
    margin-top: 1.0em;
    padding-top: 1.5em;
    border-top: 3px solid lightgray;
    column-span: all;
    -webkit-column-span: all;
    -moz-column-span: all;
}

.twoColumn h1,
.twoColumn h2,
.twoColumn h3,
.twoColumn h4,
.twoColumn h5,
.twoColumn h6 {
    break-after: avoid-column;
    -webkit-column-break-after: avoid;
    page-break-after: avoid;
}

.container .credit {
    margin: 20px 0;
}

#wrap img {
    float: left;
    margin-right: 1em;
}

code {
    font-size: 80%;
}

.block {
    position: fixed;
    z-index: 800;
    width: 100%;
    height: 100%;
    padding-top: 60px;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
}

#footer .container>* {
    margin-top: 20px;
}

#footer .container>#license {
    margin-top: 15px;
}

.panel {
    display: inline-block;
    width: 100%;
}

dd .label {
    line-height: 2;
}

.table {
    break-inside: avoid;
}

/* Book siedmenue
----------------------------*/

.bookConent {
    position: fixed;
    left: 0px;
    height: calc(100% - 65px);
    padding-left: 2em;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    transition: 0.5s;
    width: auto;
}

.bookConent .index {
    overflow-y: auto;
    height: 100%;
    padding-right: 2em;
}

.bookConent.bookConent-close .index {
    overflow-y: hidden;
    padding-right: 0em;
}

.bookConent.bookConent-close {
    transition: 0.5s;
    width: 0px;
    padding: 0px;
}

.bookConent .openbtn {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right:0px;
    z-index: 100;
}

.bookConent.bookConent-close .openbtn {
    right: auto;
}

.bookConent .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    z-index: 100;
}

.nav ul {
    list-style: none;
    list-style-position: outside;
}

.nav li {
    display: block;
}
.nav li > a {
    display: block;
    padding: 10px 15px;
    position: relative;
}

.nav li > a:hover,.nav li > a:focus {
    text-decoration: none;
    background-color: #eee;
}